body {
    padding-top: 0;
    font-family: 'Lexend Deca',sans-serif;
    max-width: 100%;
    height: 100vh;
    background: url(https://unsplash.com/photos/SHA85I0G8K4/download?force=true);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.search-card-container {
    padding: 100px 70px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: right;
}
li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #000;
}
.name {
    float: left;
    padding: 14px 16px;
    color: #fff;
    font-size: 20px;
    font-weight: 1000;
    margin-left: 50px;
    cursor: crosshair;
}
.search-card {
    display: flex;
    padding: 30px;
    max-width: 400px;
    border-radius: 5px;
    flex-direction: column;
    background: #fff;
    box-shadow: 2px 2px 10px #555;
    justify-content: space-between;
}
.search-card-title {
    margin: 0;
    font-family: 'Lexend Deca',sans-serif;
    font-size: 28px;
    font-weight: 700px;
}
.form-group {
    max-width: 100%;
    margin-top: 10px;
    flex-basis: 50%;
}
.form-group>input,.form-group>select {
    width: 100%;
    padding: 10px;
    font-family: 'Lexend Deca',sans-serif;
    font-size: 14px;
    border: 1px solid #eee;
    border-radius: 3px;
}
.inline-form-group {
    display: flex;
    justify-content: space-between;
}
.form-group>.search-label {
    margin-bottom: 5px;
    font-family: 'Lexend Deca',sans-serif;
    font-size: 13px;
    font-weight: 700px;
    text-transform: uppercase;
    color: #555;
}
.search-btn {
    padding: 10px 20px;
    font-family: 'Lexend Deca',sans-serif;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 3px;
    background: #ff5a5f;
}
.d-flex-end {
    display: flex;
    justify-content: flex-end;
}
.search-card-body {
    margin: 15px 0;
}